/* font-family: 'Raleway', sans-serif; */

/* reset */
body, html {
    margin: 0%;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: lightgrey;
}

a, a:hover {
    text-decoration: none;
}

.container-fluid {
    padding: 0;
}


/* header */
.language {
    margin-block-end: auto;
}

.flag {
    width: 25px;
    height: auto;
}
/* banner */

.banner {
    position: relative;
    padding-bottom: 60%;
    width: 100%;
    max-width: 100%;
}

.ban img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 0;
}

.inner-banner {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 2px 2px 4px #000000 ;
}

.btn-custom {
    background-color: #ffffff;
    font-weight: 600;
}

.btn-custom:hover {
    background-color: #040281;
    color: #ffffff;
    transform: scale(1.2);
    transition: 1s;
}

a:hover {
    color: #ffffff;
}


/* about */
img {
    width: 100%;
    height: 60%;
}

/* footer / contact */