/* font-family: 'Raleway', sans-serif; */

/* reset */
body, html {
    margin: 0%;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

a, a:hover {
    text-decoration: none;
}

.container-fluid {
    padding: 0;
}


/* header */

/* banner */
.banner {
    width: 100%;
    max-width: 100%;
}

.ban img {
    width: 100%;
    max-width: 100%;
    position: relative;
}
/* about */
img {
    width: 100%;
    height: 60%;
}

/* footer / contact */